.first
{

    margin-top:200px;
    margin-left:180px;
}
body
{
    background-color: #dfe3ee;
}

.one-one
{
    font-size:60px;
    color:#1877f2;
    font-family:'Roboto', sans-serif;
    font-weight: 200;
}
.one-two
{
    font-family:sans-serif;
    font-size:26px;
    position:relative;
    top:-25px;
}
.container
{
    background-color: white;
    height:350px;
    width:400px;
    float:right;
    margin-right:230px;
    margin-top: -280px;
    border-radius: 15px;
}

.text
{
    padding:14px 16px;
    width:100%;
    box-sizing: border-box;
    margin-top:10px;
    border-radius:8px;
    font-size:18px;
    opacity: 0.3;
    
    
}
.btn
{
    margin-top:15px;
    background-color:#1877f2 ;
    color:white;
    font-weight: bolder;
    font-size:18px;
    opacity: 1;
}
.form
{
    margin-top:20px;
    padding-left: 20px;
    padding-right: 20px;
    
}
.two{
    text-align: center;
    color:#1877f2; 
    
}
.btn2
{  height:50px;
    border-radius:8px;
    width:180px;
    margin-top:12px;
    margin-left:90px;
    color:white;
    font-weight:bold;
    background-color: #1b9c24;
    font-size:16px;
}
.three
{
    float:right;
    position:relative;
    top:100px;
    left:350px;
    color:black
    
}
.a1
{
    color:#1877f2;
}
.a2
{
    color:black;
}